@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var blogs = Model.Blogs;
    var games = Model.Games;

    var newestBlog = blogs.OrderByDescending(b => b.CreatedAt).Take(6).ToList();
}
<link rel="stylesheet" href="~/css/main.css" />

<section id="banner" class="banner">

    <div class="info d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 data-aos="fade-down">Welcome to <span>SEP490_10</span></h2>
                    <p data-aos="fade-up">
                        I Want: Game application to support autism children using AAC method.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

        <div class="carousel-item active" style="background-image: url('/images/banner.jpg');">
        </div>
        <div class="carousel-item" style="background-image: url('/images/banner1.jpg')"></div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
        </a>


    </div>

</section>

<main id="main">
    <section id="alt-intro" class="alt-intro container">
        <div data-aos="fade-up">
            <div class="row justify-content-around gy-4">
                <!-- Cột video -->
                <div class="col-md-7" data-aos="zoom-in" data-aos-delay="100">
                    <div class="video-wrapper">
                        <iframe src="https://www.youtube.com/embed/xNcVDCIS8LE?si=QBwIK9SoqZCW5FZj"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <!-- Cột nội dung -->
                <div class="col-md-5 home-intro d-flex flex-column justify-content-center text-center">
                    <div class="game-header">
                        <h1>GAME INTRODUCTION</h1>
                        <p></p>
                    </div>
                    <div class="text-content1">
                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                            <div>
                                <p style="text-align:justify">
                                    I Want: Game application to support autism children using AAC method (IW)
                                    is an integrated system with a forum website and a game application. IW is
                                    suitable for children and adults with severe speech or language issues
                                    who need to find an alternative way to communicate besides talking.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center button-group mt-3">
                            <a class="btn-downloads" href="https://i-want-company.itch.io/i-want">
                                <i class="fa-solid fa-download"></i> Downloads
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- ======= Introdution mini game ======= -->
    <section id="minigame" class="minigame section-bg">
        <div class="container" data-aos="fade-up">
            <div class="game-header">
                <h1>GAME INTRODUCTION</h1>
                <p></p>
            </div>
            <div class="row justify-content-center align-items-center">
                @foreach(var game in games){
                    <div class="col-2">
                        <div class="minigame-item">
                            <div class="img-wrapper">
                                <img src="@("/images/" + game.Name+ ".png")" alt="AAC">
                            </div>
                            <div class="card-content">
                                <h3>@game.Name</h3>
                                <a asp-action="GameDetails" asp-controller="Game"
                                   asp-fragment="@(game.Name == "AAC" ? "AAC-section" : game.Name == "Coloring" ? "Color-section" : game.Name == "Emotion Selection" ? "Emotion-section" : game.Name == "Fruit Drop" ? "Fruit-section" : game.Name == "Dot Connection" ? "Dot-section" : "Tower")"
                                   class="btn-readmoregame">
                                    Read More <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- ======= Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
        <div class="container" data-aos="fade-up">
            <div class="game-header">
                <h1>NEWEST BLOG</h1>
                <p></p>
            </div>
            <div class="row gy-5">
                @if (newestBlog.Count() != 0)
                {
                    foreach (var blog in newestBlog)
                    {
                        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="post-item position-relative h-100">
                                <div class="post-img-wrapper position-relative overflow-hidden">
                                    <img src="@blog.ImageUrl" class="img-fluid post-img" alt="Newest Blog">
                                </div>
                                <div class="d-flex flex-column">
                                    <h3 class="post-title">@blog.Title</h3>
                                    <div class="meta d-flex justify-content-between mt-2">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-regular fa-user"></i>
                                            <span class="ps-2">@blog.User.FullName</span>
                                        </div>
                                        |
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-calendar-alt"></i>
                                            <span class="ps-2">@blog.CreatedAt.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        |
                                        <div class="d-flex align-items-center">
                                            <i class="fa-regular fa-eye"></i>
                                            <span class="ps-2">@blog.ViewCount</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@blog.Id" class="btn-readmore-blog">
                                        Read More
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>

    <!-- End Recent Blog Posts Section -->

    <section class="about container">
        <div>
            <div class="about-content">
                <h2>ABOUT US</h2>
                <p>We are Group 10 from FPT University, specializing in Software Engineering, and this project is a part of the SEP490 course. We are excited to present our capstone project defense, which demonstrates the expertise and skills we have cultivated throughout our academic journey.</p>
                <a asp-controller="Home" asp-action="AboutUs" class="btn-readmore">
                    Read More
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
</main>




@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/knockoutjs/knockout-3.5.1.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/main.js"></script>
}


