@model IEnumerable<IWant.Web.Models.BlogViewModel>
@{
    ViewData["Title"] = "Blog Manage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table tbody tr td {
        min-height: 150px;
    }

    .truncate-content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
</style>

<div class="container mt-4">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-primary text-white text-center">
            <h2>Blogs List</h2>
        </div>
        <div class="card-body p-4">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Comments</th>
                        <th>Rates</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="7" class="text-center">No blog found!</td>
                        </tr>
                    }
                    @foreach (var blog in Model)
                    {
                        <tr>
                            <td>@blog.Title</td>
                            <td>
                                <img src="@blog.ImageUrl" alt="@blog.Title" class="img-thumbnail" style="max-width: 100px;" />
                            </td>
                            <td>@blog.Comments?.Count()</td>
                            <td>@blog.Rates?.Count()</td>
                            <td>
                                <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@blog.Id" class="btn btn-primary btn-sm">View Blog</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
