@model UpdateProfileViewModel

@{
    ViewData["Title"] = "Update Profile";
}
<style>
    .profile-header label:hover img {
        opacity: 0.5;
    }
</style>

<div style="border:1px solid #000; border-radius:20px" class="container mt-5 mb-5 p-5 Profile">
    <h2>Update Profile</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <form asp-action="UpdateProfile" method="post" enctype="multipart/form-data">

        <div class="profile-header d-flex">
            <label for="avatarInput" class="avatar-container position-relative me-3">
                <img id="avatarPreview"
                     style="width:100px; height:100px; border-radius:50%; border:solid 2px #000; cursor:pointer; object-fit:cover; object-position:center"
                     src="@Model.ImageUrl"
                     alt="Profile Picture">
                <i style="border-radius: 50%;padding: 5px;background-color: gray; right: 0; bottom: 0; color: lightgray; font-size: 20px;" class="fa-solid fa-camera position-absolute"></i>
            </label>
            <input type="file" asp-for="Image" id="avatarInput" style="display: none;" accept="image/*">
            <div class="info align-content-center">
                <h4>@Model.FullName</h4>
                <p style="color:gray">@Model.Email</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Birthday"></label>
                    <input asp-for="Birthday" type="date" class="form-control" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" class="form-control">
                        <option selected="@(Model.Gender==null)" value="">Other</option>
                        <option selected="@(Model.Gender==true)" value="true">Male</option>
                        <option selected="@(Model.Gender==false)" value="false">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ChildName"></label>
                    <input asp-for="ChildName" class="form-control" />
                    <span asp-validation-for="ChildName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ChildNickName"></label>
                    <input asp-for="ChildNickName" class="form-control" />
                    <span asp-validation-for="ChildNickName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ChildBirthday"></label>
                    <input asp-for="ChildBirthday" type="date" class="form-control" />
                    <span asp-validation-for="ChildBirthday" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ChildGender"></label>
                    <select asp-for="ChildGender" class="form-control">
                        <option selected="@(Model.ChildGender==null)" value="">Other</option>
                        <option selected="@(Model.ChildGender==true)" value="true">Male</option>
                        <option selected="@(Model.ChildGender==false)" value="false">Female</option>
                    </select>
                    <span asp-validation-for="ChildGender" class="text-danger"></span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const avatarPreview = document.getElementById("avatarPreview");
        const avatarInput = document.getElementById("avatarInput");

        avatarPreview.addEventListener("click", function (event) {
            event.preventDefault();
            avatarInput.click();
        });

        avatarInput.addEventListener("change", function (event) {
            if (avatarInput.files.length > 0) {
                const file = avatarInput.files[0];
                const reader = new FileReader();

                reader.onload = function (e) {
                    avatarPreview.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        });
    });
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
